*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1{
    display: inline-block;
    padding: 15px;
    background-color: rgb(137, 137, 158);
    color: white;
    border-radius: 5px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}